@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-container {
  border: 1px solid theme("colors.border1");
  transform: translateX(-50%);
  box-shadow: theme("colors.shadow1");
  background-color: theme("colors.background1");
}

.icon {
  color: theme("colors.text1");
  font-size: 20px;
}
